body{
     padding: 0;
     margin: 0;
     font-family: "Montserrat", sans-serif;
     color: 000;
     font-size: 26px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}




ul, li {
    display: block;
}

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto; /* центрирование */
}

.header {
    background: url('../img/backgroundbird.jpg') no-repeat  center top / cover;
    padding-top: 60px;

}

header a{
    color: #000;
}


.menu {
    display: flex;
}

.menu li{
    margin-right: 40px;
}

.menu li a{
    
    font-size: 26px;
}

.menu li a:hover {
    border-bottom: 1px solid black;
}

.email {
    font-size: 26px;
    margin-right: 80px;
    
}

.telegram {
    margin-left: auto;
}
 
.nav {
    display:flex;
    align-items: center;
}


.offer {
    margin-top: 200px;
}

.offer p{
    font-size: 35px;
}


.offer h1 {
    font-size: 40px;
    margin-bottom: 91px;
}

.button {
    display: inline-block;
    width: 500px;
    height: 176px;
    cursor: pointer;
    border: 0px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 106px;
    margin-top: 105px;
    margin-left: 800px;

    font-size: 28px;
    text-align: center;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.button:hover {
  background: #00FF75;
  box-shadow: 0 15px 20px rgba(0, 169, 17, .4);
  transform: translateY(-3px);
}



.services {
    background: url('../img/backgrounddrone.jpg') no-repeat  center top / cover;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.description {
    display: flex;
    padding-top: 227px;
    justify-content: space-between;
}

.desc-left, .desc-center, .desc-right{
    width: 338px;
}

.button1 {
    width: 270px;
    height: 80px;
    cursor: pointer;
    border: 0px;
    border-radius: 30px;
    font-size: 28px;
    text-align: center;
    color: black;
    background: #00FF75;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
    transition: .3s;
}

.button1:hover {
  box-shadow: 0 15px 20px rgba(0, 169, 17, .4);
  transform: translateY(-3px);
}

.facts {
    background-color: #DBDBDB;
}

.ourmission {
    background: url('../img/backgreen.png') no-repeat  center top / cover;
    padding-top: 400px;
    padding-bottom: 300px;
    
    text-align: center;
    margin-left: auto;
}
.ourmission p{
    margin-top: 100px;
}

.title1 {
    color: #00A911;
}

.feedback h2 {
    text-align: center;
}

form .wrapper {
    display: block;
padding: 7px 8px;
margin-bottom: 7px;
}

footer {
    background-color: #DBDBDB;
    padding-top: 30px;
    padding-bottom: 10px;
    
}

footer a{
    text-decoration: none;
    color: black;
}