body{
     padding: 0;
     margin: 0;
     font-family: "Montserrat", sans-serif;
     
     font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}




ul, li {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto; /* центрирование */
}

.header {
    background: url('../img/backgroundbird.jpg') no-repeat  center top / cover;
    padding-top: 60px;

}

header a{
    color: #000;
    padding-left: 10px;
}


.menu {
    display: flex;
}

.menu li{
    margin-right: 30px;
}

.menu li a{
    
    font-size: 26px;
}

.menu li a:hover {
    border-bottom: 1px solid black;
}

.email1 {
    font-size: 26px;
    margin-right: 80px;
    
}

.telegram {
    margin-left: auto;
}
 
.nav {
    display:flex;
    align-items: center;
}


.offer {
    margin-top: 200px;
}

.offer p{
    font-size: 35px;
}


.offer h1 {
    font-size: 40px;
    margin-bottom: 91px;
}

.button {
    display: inline-block;
    width: 400px;
    height: 176px;
    cursor: pointer;
    border: 0px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 106px;
    margin-top: 105px;
    margin-left: 700px;

    font-size: 20px;
    text-align: center;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.button:hover {
  background: #00FF75;
  box-shadow: 0 15px 20px rgba(0, 169, 17, .4);
  transform: translateY(-3px);
}



.services {
    background: url('../img/backgrounddrone.jpg') no-repeat  center top / cover;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.description {
    display: flex;
    padding-top: 227px;
    justify-content: space-between;
}

.description h3{
    
        text-align: center;

}

.desc-left, .desc-center, .desc-right{
    width: 338px;
}


.desc-left, .desc-center, .desc-right ul{
    padding-left: 0;
}

.header-desc-left, .header-desc-right, .header-desc-center {
     display: flex;
     justify-content: left;
     align-items: left;
} 

.button1 {
    width: 270px;
    height: 80px;
    cursor: pointer;
    border: 0px;
    border-radius: 30px;
    font-size: 28px;
    text-align: center;
    color: black;
    background: #00FF75;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
    transition: .3s;
}

.button1:hover {
  box-shadow: 0 15px 20px rgba(0, 169, 17, .4);
  transform: translateY(-3px);
}

.facts {
    background-color: #DBDBDB;
}


.fact1 {
    max-height: 80px;
    }

.fact1, .fact2, .fact3 {
    display: flex;
     margin-bottom: 20px;
}

.fact1 p, .fact2 p, .fact3 p {
    padding-left: 20px;
   

}


.ourmission {
    background: url('../img/backgreen.png') no-repeat  center top / cover;
    padding-top: 200px;
    padding-bottom: 200px;
    
    text-align: center;
    margin-left: auto;
}
.mission {
    max-width: 800px;
}


.ourmission h2{
   padding-top: 150px;
  
}
.ourmission p{
   padding-top: 10px;
   padding-bottom: 30px;
}

.ourmission blockquote{
    padding-bottom: 150px;
}



.title1 {
    color: #00A911;
    padding-bottom: 15px;
}

.feedback h2 {
    text-align: center;
}


.contact-form {

    position:relative;
    margin:50px auto;   
    width: 720px;
    min-height:200px;
    padding:30px;  
}



.wrapper {
    display: block;
    padding: 7px 8px;
    margin-bottom: 7px;
}


input, select {
  width: 650px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


textarea {
  width: 650px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  
  font-family: "Montserrat", sans-serif;;
}

select {
  width: 650px;
  padding: 16px 20px;
  margin-left: 7px;
}


form p {
    font-size: 12px;
     margin-left: 7px;
     padding-bottom: 15px;
}













footer {
    background-color: #DBDBDB;
    padding-top: 30px;
    padding-bottom: 10px;
    
}

footer a{
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 1200px) {
    .container { 
    width: 1140px; }
}



@media screen and (max-width: 1199px) {
    .container { 
    width: 960px;
   }
   .menu li a{
    
    font-size: 18px;
}

.email1 {
    font-size: 18px;

}


.button {
     margin-left: 700px;
     width: 200px;
     height: 176px;
     font-size: 16px;


}


}


@media screen and (max-width: 991px) {

    .container { 
    width: 710px; }

   .menu li {
    margin-left: 5px;
    margin-right: 0px;
}
    .menu li a{
     font-size: 16px;
}
    .telegram1 {
    display: none;

 }

 .email1 {
    margin-right:  0px;
     font-size: 16px;

 }

 .button {
     display: none;

 }

 .offer {
    margin-top: 30px;
 }

   h1 {
     font-size: 30px;
     padding-top: 50px;
     margin-bottom: 10px;
    }


    .offer p{
    font-size: 25px;
    padding-bottom: 250px;

}

ul {
    font-size: 20px;
}

 p {
    font-size: 20px;
 }

 h2 {
    font-size: 25px;
 }





}



@media screen and (max-width: 767px) {
    .container { 
    width: 540px; }

.menu {
    display: none;
}

.logo {
    height: 30px;
    margin-left: 5px;
}


.offer p {
    padding-bottom: 275px;
}

.services {
     background: url('../img/drone.jpg') no-repeat  center top / cover;
}

.description {

flex-wrap: wrap;

}

.desc-left, .desc-center, .desc-right{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.wrapper {
    width: 400px;
}

input {
  width: 400px;
  margin: 0;
 
}


textarea {
  width: 400px;
  height: 100px;
 
  
}

select {
  width: 400px;
 
  margin-left: 7px;
}


































   
}


@media screen and (max-width: 575px) {
    .container { 
    width: 100%; 
    padding 0 15px;}

   
}
